.mb-80 {
    margin-bottom: 80px;
}

.pb-105 {
    padding-bottom: 105px;
}

.section-title-furits>h2 {
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}

.section-title-furits>h2::before {
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}

.text-dark {
    color: #343a40 !important;
}

.text-justify {
    text-align: justify !important;
}

.sectionp {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #3e3e3e;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}


/* section 1  close */
.gray-bg-4 {
    background: #f8f8f8;
}

.section-title-furits {
    position: relative;
}

.mb-80 {
    margin-bottom: 80px;
}

.text-center {
    text-align: center !important;
}

.section-title-furits.bg-shape:before {
    content: url(../img/title-shape.png);
    position: absolute;
    left: 50%;
    top: 8px;
    bottom: auto;
    transform: translate(-50%, -100%);
}


/* carousel */

.slider {
    margin: 0 30px;
    overflow: "hidden";
    padding: 0 0 2rem 0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

}

.img-txt {
    text-align: center;
    font-size: larger;

    margin-top: 30px;
}

.slider img {
    width: 100%;
    border-radius: 10px;
}

.react-multi-carousel-list {
    padding: 0rem 0 2rem 0;
}

.custom-dot-list-style button {
    border: none;
    background: rgb(255, 68, 68);
}

.react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: rgb(255, 68, 68) !important;
}


/* Why choose us */
.fruits-choose-area {
    background-color: #e8f8df;

}



@media (min-width: 768px) and (max-width: 991px) .fruits-choose-title>h2 {
    font-size: 64px;
    margin: 12px 0 0;
}

.fruits-choose-title>h2 {
    color: #d4d9cc;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 0.2px;
    margin: 20px 0 0 33px;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    color: #383838;
    margin-top: 0px;
    font-style: normal;
    font-weight: 400;
}

.fruits-choose-wrapper {
    margin-left: 20px;
    margin-top: 94px;
}