.food-footer-bottom {
    position: relative;
}

.black-bg-5 {
    background: #353535;
}

.pb-70 {
    padding-bottom: 70px;
}

.pt-80 {
    padding-top: 80px;
}

@media (min-width: 1200px) and (max-width: 1650px) {

    .mrl-20 {
        margin: 0 20px;
    }
}

.footer-section {
    color: blue;
}

@media (min-width: 992px) {

    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) {

    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 33%;
    }
}

.footer-widget {
    position: relative;
    z-index: 9;
}

.fruits-footer .footer-widget-title-6 {
    font-size: 24px;
}

.footer-widget-title-6 {
    color: #f6f6f6;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin-bottom: 30px;
    padding-bottom: 28px;
    position: relative;
}

.footer-widget-title-6:before,
.food-about>p:before {
    width: 50px;
    height: 2px;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background-color: #5c5c63;
}

.food-widget-content ul li {
    margin-bottom: 15px;
}

.fruits-footer .food-widget-content ul li a {
    text-transform: capitalize;
    text-decoration: none;
}

.food-widget-content ul li a {
    color: #dfdfdf;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.food-widget-content ul li:last-child {
    margin-bottom: 50px;
}

.food-widget-content ul li {
    margin-bottom: 15px;
}

.food-about-info {
    margin-top: 29px;
}

.food-address {
    display: flex;
    margin-bottom: 8px;
}

.food-info-icon {
    margin-right: 10px;
    margin-top: 6px;
    width: 20px;
}

.food-info-icon i {
    color: #dcdcdc;
    font-size: 18px;
}

.fruits-footer .food-info-content {
    margin: 5px;
}

.fruits-footer .food-info-content>h6 {
    color: #fff;
    font-weight: 500;
}

.fruits-footer .food-info-content>p {
    color: #dfdfdf;
    font-size: 14px;
    font-weight: 600;
}

.food-info-content>p {
    color: #f6f6f6;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
}