.about-banner {
    background-image: url(../../img/about-banner.jpg);
}

.about-banner {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
    padding: 6% 0;
}


.breadcrumb-content {
    margin-top: 50px;
}

.breadcrumb-content h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
    text-transform: capitalize;
}

ul {
    margin: 0px;
    padding: 0px;
}

.breadcrumb-content li {
    color: #fff;
    display: inline-block;
    font-weight: 600;
    text-transform: uppercase;
}

.breadcrumb-content li a::after {
    background-color: #fff;
    content: "";
    font-size: 8px;
    height: 1px;
    position: absolute;
    right: 0;
    top: 10px;
    transform: rotate(-63deg);
    width: 13px;
}

.breadcrumb-content li a {
    color: rgb(255, 255, 255);
    position: relative;
    padding-right: 18px;
}

/* 1st Section Ends */
/* 2nd Section */
.ptb-95 {
    padding: 95px 0;
}

.story-img {
    position: relative;
}

.about-story img {
    border-radius: 5px;
}

.story-img>img {
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.mt-30 {
    margin-top: 30px;
}

.pl-50 {
    padding-left: 50px;
}

.story-details-top {
    margin-bottom: 48px;
}

.story-details-top>h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.story-details-top>h2 span {
    color: #050035;
}


.story-details-bottom:last-child {
    margin-bottom: 0px;
}

.story-details-bottom {
    margin-bottom: 48px;
}

.story-details-top>p,
.story-details-bottom>p,
.goal-wrapper.mb-30>p {
    color: #666;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    color: #3e3e3e;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* 3rd section */
@media (min-width: 1200px) and (max-width: 1650px) {
    .mrl-60 {
        margin: 0 60px;
    }
}

.banner-wrapper-4 {
    padding: 5%;
    margin-left: 30px;
}

.banner-wrapper-4 {
    overflow: hidden;
}

.banner-wrapper-4 {
    position: relative;
}

.banner-wrapper-4 img {
    transition: all .1s ease 0s;
}

.banner-wrapper-4 img {
    width: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.goal-wrapper.mb-30>h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.story-details-top>p,
.story-details-bottom>p,
.goal-wrapper.mb-30>p {
    color: #666;
    letter-spacing: 0.4px;
    line-height: 26px;
    margin: 0;
}

.goal-wrapper>p {
    padding-right: 30px;
}

/* value  */
.pt-50 {
    padding-top: 50px;
}

.mb-95 {
    margin-bottom: 95px;
}

@media (min-width: 1200px) and (max-width: 1650px) {

    .prl-70 {
        padding: 0 70px;
    }
}

.values-area {
    text-align: center;
}

.values-area {
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}

.section-title-furits {
    position: relative;
}

.pt-50 {
    padding-top: 50px;
}

.mb-95 {
    margin-bottom: 95px;
}

.section-title-furits>h2 {
    color: #434343;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.2px;
    margin: 25px 0 0;
    position: relative;
}

.section-title-furits>h2::before {
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}

.quality-value:before {
    content: url(../../img/quality.png);
    transform: scale(0.7);
}

.single-fruits-choose {
    display: flex;
    margin-bottom: 50px;
}


h4 {
    font-size: 1.5rem;
}

.value-choose-content>p {
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
}

.experience-value:before {
    content: url(../../img/experience.png);
    transform: scale(0.7);
}

.certified-value:before {
    content: url(../../img/certified.png);
    transform: scale(0.7);
}

.value-value:before {
    content: url(../../img/commitment.png);
    transform: scale(0.7);
}

.innovation-value:before {
    content: url(../../img/innovation.png);
    transform: scale(0.7);
}

/* 5th section */
@media (min-width: 1200px) and (max-width: 1650px) {

    .prl-50 {
        padding: 0 50px;
    }
}

.mt-90 {
    margin-top: 90px;
}

.section-title-furits {
    position: relative;
}

.mb-50 {
    margin-bottom: 50px;
}

.section-title-furits {
    position: relative;
}

.mb-50 {
    margin-bottom: 50px;
}

.section-title-furits>h2::before {
    background-color: #85bd02;
    bottom: -13px;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    width: 60px;
}

.who-are-we-area p {
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    margin: 0 20px;
}

@media (min-width: 1200px) and (max-width: 1650px) {

    .p95 {
        padding: 90px 50px;
    }
}

.what-we-do-area p {
    color: #666666;
    font-size: 15px;
    line-height: 26px;
    margin: 0 20px;
}